<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Duolinsheng</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
</head>

<body>
    <button id="itemDisplay" style="position: absolute; top: 45%; left: 50%;"
        class="phone">
        Start</button>
    <button id="review_btn" style="position: absolute; left: 50%;" class="phone">
        Review</button>
    <button id="mistake_btn">×××</button>
    <div style="display: none;" id="test"></div>

    <p class="note-1">2024-7-23-prankster</p>
    <p class="note-2">Github @Karis004</p>

    <div class="radio-buttons" id="radio-buttons">
        <label class="radio-button">
            <input type="radio" name="option" value="Karis">
            <div class="radio-circle"></div>
            <span class="radio-label">Karis</span>
        </label>
        <label class="radio-button">
            <input type="radio" name="option" value="Tracy">
            <div class="radio-circle"></div>
            <span class="radio-label">Tracy</span>
        </label>
    </div>

    <input type="text" placeholder="#" name="text" id="input">

    <audio id="audioPlayer" controls style="display: none;">
        <source src="http://dict.youdao.com/dictvoice?type=1&audio=helloword" type="audio/mp3">
    </audio>


    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>